a{
	text-decoration: none;
	color: inherit;
}

a:visited{
	color: inherit;
}

body{
	background-color: #000000;
	color: #d4d4d4;
}

h1{
	font-size: 2em;
	margin: 0.5em 0em;
}

header{
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav{
	width: 100%;
	max-width: 500px;
}

nav ul{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-evenly;
}

.separador{
	margin: 1em 0em;
	border-top: 1px #5c2be2 solid;
	width: 100%;
}

main{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.presimon{
	display: flex;
	width: 100%;
	max-width: 450px;

	flex-direction: row;
	justify-content: space-evenly;
}

.simon{
	display: flex;
	flex-direction: column;
	gap: 0.25em;
}

.row1, .row2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 0.25em;
}

.color{
	border: 1px #d4d4d4 solid;
	width: 10em;
	height: 10em;
	flex-shrink: 1;
}

#rojo{
	background-color: red;
}

#amarillo{
	background-color: yellow;
}

#verde{
	background-color: green;
}

#azul{
	background-color: blue;
}
