body{
	background-color: #000000;
	color: #d4d4d4;
}

ul{
	display: flex;
	justify-content: space-evenly;
}

.separador{
	border-top: 1px #5c2be2 solid;
	width: 100%;
}

.colores{
	display: flex;
	flex-direction: column;
	gap: 0.25em;
}

.row1, .row2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 0.25em;
}

.color{
	border: 1px #d4d4d4 solid;
	width: 10em;
	height: 10em;
	flex-shrink: 1;
}

.rojo{
	background-color: red;
}

.amarillo{
	background-color: yellow;
}

.azul{
	background-color: blue;
}

.verde{
	background-color: green;
}